<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Essence - Fashion Ecommerce </title>

    <!-- Favicon  -->
    <link rel="icon" href="/img/core-img/favicon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="/css/core-style.css">
    <link rel="stylesheet" href="/style.css">
    <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"> -->

    <style>
        .suggestions-list {
            border-radius: 4px;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
            width: 100%;
            /* display: none; */
        }

        .suggestion-item:hover {
            background-color: #f0f0f0;
        }
    </style>

</head>

<body>
    <!-- ##### Header Area Start ##### -->
    <header class="header_area">
        <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
            <!-- Classy Menu -->
            <nav class="classy-navbar" id="essenceNav">
                <!-- Logo -->
                <a class="nav-brand" href="/"><img src="/img/core-img/logo.png" alt=""></a>
                <!-- Navbar Toggler -->
                <!-- <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div> -->
                <!-- Menu -->
                <!-- <div class="classy-menu"> -->

                <!-- close btn -->
                <!-- <div class="classycloseIcon"> -->
                <!-- <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div> -->
                <!-- </div> -->
                <!-- Nav Start -->

                <!-- Nav End -->
                <!-- </div> -->
                <a href="/shop">Shop</a>
            </nav>

            <!-- Header Meta Data -->
            <div class="header-meta d-flex clearfix justify-content-end">
                <!-- Search Area -->
                <div class="search-area">
                    <form>
                        <button type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                        <input type="search" name="search" id="headerSearch" placeholder="Type for search"
                            list="products" autocomplete="off">
                        <div id="suggestions" class="suggestions-list"
                            style="position: absolute; background-color: white; border: 1px solid #ccc; max-height: 200px; overflow-y: auto;">

                        </div>
                    </form>
                </div>
                <!-- Favourite Area -->
                <div class="favourite-area ">
                    <a href="/wishlist"><i class="fa fa-heart fa-lg" aria-hidden="true"></i></a>
                </div>
                <% if(user){ %>
                    <div class="user-login-info ">
                        <a href="/profile"><i class="fa fa-user-circle-o fa-lg" aria-hidden="true"></i></a>
                    </div>
                    <%}%>
                        <!-- User Login Info -->
                        <div class="user-login-info ">
                            <% if(user){ %>
                                <a href="/logout"><i class="fa fa-sign-out fa-lg" aria-hidden="true"></i></a>
                                <% }else{%>
                                    <a href="/login"><i class="fa  fa-sign-in  fa-lg" aria-hidden="true"></i></a>
                                    <%}%>
                        </div>

                        <!-- Cart Area -->
                        <div class="cart-area ">
                            <a href="/cart"><i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i> <span>
                                    <%= carNum=user ? user.cart.cartItems.length : '+' %>
                                </span></a>
                        </div>


            </div>

        </div>
    </header>

    <!-- ##### Header Area End ##### -->

    <!-- ##### Right Side Cart Area ##### -->

    <!-- ##### Right Side Cart End ##### -->

    <script>
        document.getElementById('headerSearch').addEventListener('input', function () {
            const query = this.value;

            if (query.length > 1) { // Start searching after 3 characters
                fetch(`/search?query=${query}`)
                    .then(response => response.json())
                    .then(data => {
                        // alert(res.data)
                        // console.log('ss')
                        console.log(data)
                        let suggestions = '';
                        let products = data;
                        if (products.length > 0) {
                            products.forEach(product => {
                                suggestions += `<div class="suggestion-item" style="padding: 8px; cursor: pointer;" onclick="window.location.href='/product?product=${product._id}'">${product.name}</div>`;
                            });
                        } else {
                            suggestions = `<div class="suggestion-item" style="padding: 8px;">No results found</div>`;
                        }

                        document.getElementById('suggestions').innerHTML = suggestions;
                        document.getElementById('suggestions').style.display = 'block';
                    });
            } else {

                document.getElementById('suggestions').style.display = 'none';
            }
        });

    </script>