<%- include('./partials/alertMessages'); %>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Change Password</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    </head>

    <body>
        <div class="container mt-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Change Password</h5>
                    <form action="/changepass" method="post" onsubmit="return validate()">
                        <% if(user.password.length> 0) { %>
                            <div class="form-group">
                                <label for="currentPassword">Current Password</label>
                                <input type="password" class="form-control" id="currentPassword" name="currentPassword"
                                    placeholder="Enter your current password" required>
                            </div>
                            <% } %>
                                <div class="form-group">
                                    <label for="newPassword">New Password</label>
                                    <input type="password" class="form-control" id="newPassword" name="newPassword"
                                        placeholder="Enter your new password" required>
                                </div>
                                <div class="form-group">
                                    <label for="confirmPassword">Confirm New Password</label>
                                    <input type="password" class="form-control" id="confirmPassword"
                                        name="confirmPassword" placeholder="Confirm your new password" required>
                                </div>
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#confirmationModal">Change Password</button>

                                <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog"
                                    aria-labelledby="confirmationModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="confirmationModalLabel">Confirmation</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you want to change your password?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary">Confirm</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <a href="/profile" class="btn btn-danger">Cancel</a>
                                <div class="pt-2 ">
                                    <a href="/forgotPassword" class=" d-block">Forget
                                        Password ?</a>
                                    <div class=""></div>
                                </div>
                    </form>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <script>
            function validate() {
                const newPass = document.getElementById('newPassword').value;
                const confirmPass = document.getElementById('confirmPassword').value;
                const MIN_LENGTH = 8;

                if (newPass.length < MIN_LENGTH) {
                    alert('New password must be at least 8 characters long.');
                    return false;
                }

                if (confirmPass.length < MIN_LENGTH) {
                    alert('Confirm password must be at least 8 characters long.');
                    return false;
                }

                if (newPass !== confirmPass) {
                    alert('Passwords do not match.');
                    return false;
                }

                return true; // If all validations pass, the form will be submitted
            }
        </script>
    </body>

    </html>