<%- include('./partials/alertMessages'); %>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Change Password</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    </head>

    <body>
        <div class="container mt-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Change Password</h5>
                    <form action="/changepass" method="post" id="form">
                        <% if(user.password ) { %>
                            <div class="form-group">
                                <label for="currentPassword">Current Password</label>
                                <input type="password" class="form-control" id="currentPassword" name="currentPassword"
                                    placeholder="Enter your current password">
                            </div>
                            <% } %>
                                <div class="form-group ">
                                    <label for="newPassword">New Password</label>
                                    <input type="password" class="form-control" id="newPassword" name="newPassword"
                                        placeholder="Enter your new password" required minlength="8">
                                    <span id="spanNewPass" class="mt-2"></span>
                                </div>
                                <div class="form-group">
                                    <label for="confirmPassword">Confirm New Password</label>
                                    <input type="password" class="form-control" id="confirmPassword"
                                        name="confirmPassword" placeholder="Confirm your new password" equired
                                        minlength="8" required>
                                    <span id="spanConPass" class="mt-2"></span>
                                    <span id="spanConPassMatch" class="mt-2"></span>
                                </div>
                                <button type="button" class="btn btn-primary" onclick="validate()">Change
                                    Password</button>
                                <a href="/profile" class="btn btn-danger">Cancel</a>
                                <div class="pt-2 ">
                                    <a href="/forgotPassword" class=" d-block">Forget
                                        Password ?</a>
                                    <div class=""></div>
                                </div>
                    </form>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

        <script>

            $(document).ready(() => {
                $('#newPassword').focusout(function () {
                    let val = $(this).val()
                    if (val.length < 8) {
                        $('#spanNewPass').text('Miniumum 8 charecter requierd').css({ 'color': 'red', })
                    } else {
                        $('#spanNewPass').text('All Good').css({ 'color': 'green', })
                    }

                })

                $('#confirmPassword').focusout(function () {
                    let newVal = $('#newPassword').val()
                    if (newVal.length < 8) { $('#spanConPassMatch').text('Miniumum 8 charecter requierd').css({ 'color': 'red', }) }
                    else if ($('#confirmPassword').val() === newVal) {
                        $('#spanConPassMatch').text('Password Matched').css({ 'color': 'green', })
                    } else {
                        $('#confirmPassword').val('')
                        $('#spanConPassMatch').text('New Password and Confirm Password is Diffrent Re-enter').css({ 'color': 'red', })
                    }
                })

            })

            function validate() {
                let isValid = true;
                const newPassword = $('#newPassword').val();
                const confirmPassword = $('#confirmPassword').val();
                $('#spanNewPass').text('');
                $('#spanConPass').text('');
                $('#spanConPassMatch').text('');


                if (newPassword.length < 8) {
                    $('#spanNewPass').text('Minimum 8 characters required').css({ 'color': 'red' });
                    isValid = false;
                } else {
                    $('#spanNewPass').text('All Good').css({ 'color': 'green' });
                }

                if (confirmPassword.length < 8) {
                    $('#spanConPassMatch').text('Minimum 8 characters required').css({ 'color': 'red' });
                    isValid = false;
                }

                else if (newPassword !== confirmPassword) {
                    $('#spanConPassMatch').text('New Password and Confirm Password are different').css({ 'color': 'red' });
                    isValid = false;
                }
                else {
                    $('#spanConPassMatch').text('All Good').css({ 'color': 'green' });
                }

                // If  all valid
                if (isValid) {
                    Swal.fire({
                        title: "Do you want to save the changes?",
                        showDenyButton: true,
                        showCancelButton: true,
                        confirmButtonText: "Save",
                        denyButtonText: `Don't save`
                    }).then((result) => {
                        /* Read more about isConfirmed, isDenied below */
                        if (result.isConfirmed) {
                            form.submit()
                        } else if (result.isDenied) {
                            Swal.fire("Changes are not saved", "", "info");
                        }
                    });;
                    // $('#form').submit();
                }
            }

        </script>
    </body>

    </html>