

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Edit Profile</h5>
                <form action="/edit-profile" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="profileName">Name</label>
                        <input type="text" class="form-control" id="profileName"name='name' placeholder="Enter your name" value="<%=user.username%>">
                    </div>
                    <label for="profilePicture">Profile picture</label>
                    
                     <!-- Media -->
                      <div class="form-group">
                        <label for="input-group-text">Images</label>
                        <input class="form-control" type="file" accept="image/*" name="image" >
                    </div>

                    <div class="form-group">
                        <label for="profilePhone">Phone</label>
                        <input type="tel" class="form-control" name="phone" id="profilePhone" placeholder="Enter your phone number" value="<%=user.mobile%>">
                    </div>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Update </button>
                    <a href="/profile" class="btn btn-danger">Cancel</a>
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Alert</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              Are you sure to Update
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                          </div>
                        </div>
                      </div>
                </form>
            </div>
        </div>
    </div>

  

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
